.comparator {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;


    .boxContainer {
        display: flex;
        width: 100%;
        gap: 20px;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    .diffEditor {
        text-align: left;
      }
}